<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Best Buy My Rewards</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <style>
            #header {
                /* background: url("header.jpg"); */
                background: url("header.jpg") center center / cover no-repeat;
            }
        </style>
    
    </head>
    <body>
        <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="https://www.bestbuy.ca" class="navbar-brand" id="brandicon">
            <img src="logo.png" style="width: 50px;"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/myaccount" class="nav-link">My Account</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section id="header" class="jumbotron text-center">
            <h1 class="display-3" style="color:#999999">My Rewards</h1>
            <p class="lead" style="color:#999999">Here is something in return for you.</p>
            <a href="" class="btn btn-primary">Do Something</a>
            <a href="" class="btn btn-success">Another Thing</a>
        </section>
        <section id="gallery">
            <div class="container">
                 <div class="row">
                     <div class="col-lg-4 mb-4">
                         <div class="card">
                             <div class="card-body">
                                 <h5 class="card-title">First reward</h5>
                                 <img style="width:180px; height:180px; margin:0 auto; display:block;"; src="https://cdn.shopify.com/s/files/1/0036/4806/1509/products/m007235411_b336723e-eb29-4315-961f-1ea723e74b0e.jpg?v=1576771666" />
                                 <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                                     Veniam, dolorum facere?
                                     Commodi, ut. Et, itaque quam!</p>
                                 <a href="" class="btn btn-outline-success btn-sm">Redeem</a>
                                 <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i>Wishlist</a>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-4 mb-4">
                         <div class="card">
                             <div class="card-body">
                                 <h5 class="card-title">Second reward</h5>
                                 <img style="width:180px; height:180px; margin:0 auto; display:block;"; src="https://cdn.shopify.com/s/files/1/1005/9694/products/1560306683000_IMG_1198107_600x.jpg?v=1560546648" />
                                 <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                                     Veniam, dolorum facere?
                                     Commodi, ut. Et, itaque quam!</p>
                                 <a href="" class="btn btn-outline-success btn-sm">Redeem</a>
                                 <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i>Wishlist</a>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-4 mb-4">
                         <div class="card">
                             <div class="card-body">
                                 <h5 class="card-title">Third reward</h5>
                                 <img style="width:180px; height:180px; margin:0 auto; display:block;"; src="https://img.gkbcdn.com/s3/p/2016-10-07/mavic-pro-mini-foldable-quadcopter--1571970631737.jpg" />
                                 <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                                     Veniam, dolorum facere?
                                     Commodi, ut. Et, itaque quam!</p>
                                 <a href="" class="btn btn-outline-success btn-sm">Redeem</a>
                                 <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i>Wishlist</a>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
         </section>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>